<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Detail</title>
    <link rel="stylesheet" href="/sellerDetail.css" />
</head>
<body>
    <%- include("component/adminHeader") %>
    <div class="container">
        <div class="sellerData">
            <div class="dataelement">
                Name: <%= seller.name %>
            </div>
            <div class="dataelement">
                Mobile: <%= seller.mobile %>
            </div>
            <div class="dataelement">
                Email: <%= seller.username %>
            </div>
            <div class="dataelement">
                Business Name: <%= seller.buisness_name %>
            </div>
            <div class="dataelement">
                Business Type: <%= seller.buisnesstype %>
            </div>
            <div class="dataelement">
                Aadhar Number: <%= seller.aadharno %>
            </div>
            <div class="dataelement">
                <button id="approveBt">Approve</button>
                <button id="rejectBt">Reject</button>
            </div>
        </div>
        <div class="sellerDocs">
            <div>
                <img src="/<%= seller.aadharimage %>" alt="">
            </div>
        </div>
    </div>
    <script>
        const sid=JSON.parse('<%- JSON.stringify(seller.sid) %>');
    </script>
    <script src="/sellerDetail.js"></script>
</body>
</html>