<style>
    .orderNode {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* border: 1px solid brown; */
        box-shadow: 0px 0px 5px black;
        padding: 5px;
    }

    .orderAction {
        display: flex;
        justify-content: space-evenly;
    }

    .notDelivered {
        width: 40%;
        padding: 5px;
        margin: 5px;
        background: red;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        color: white;
    }
    .deliver {
        width: 40%;
        padding: 5px;
        margin: 5px;
        background: blue;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        color: white;
    }
</style>
<div class="orderNode" id="<%= order.oid %>">
    <div>
        <%= order.oid %>
    </div>
    <div>
        <%= order.addressLine1 %>
    </div>
    <div>
        <%= order.state %>
    </div>
    <div>
        <%= order.district %>
    </div>
    <div>
        <%= order.pincode %>
    </div>
    <div class="orderAction">
        <span class="deliver" onclick="delivered('<%= order.oid %>')">
            deliver
        </span>
        <!-- <span class="notDelivered" onclick="notdelivered('<%= JSON.stringify(order.oid) %>')">
            Can't deliver
        </span> -->
    </div>
</div>
<script>
    function delivered(str) {
        fetch("/delivery/delivered",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({oid:str})
        }).then(function(response){
            if(response.status==200){
                document.getElementById(str).style.display="none";
            }
            else{
                console.log("something went wrong");
            }
        }).catch(function(err){});
    }
    function notdelivered(str){}
</script>